<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Deals - Login</title>
    <link rel="stylesheet" href="../static/CSS/login-signup.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto+Condensed:wght@200&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
        <img src="../static/imgfol/logo.jpg" alt="Smart Deals Logo">
        <!-- <h1>SMART DEALS</h1> -->
    </div>
    
    <div class="background-grid">
        <img src="../static/imgfol/1.jpg" alt="Product 1">
        <img src="../static/imgfol/2.jpg" alt="Product 2">
        <img src="../static/imgfol/3.jpg" alt="Product 3">
        <img src="../static/imgfol/4.jpg" alt="Product 4">
        <img src="../static/imgfol/5.jpg" alt="Product 5">
        <img src="../static/imgfol/6.jpg" alt="Product 6">
        <img src="../static/imgfol/7.jpg" alt="Product 7">
        <img src="../static/imgfol/8.jpg" alt="Product 7">
        <img src="../static/imgfol/9.jpg" alt="Product 7">
        <img src="../static/imgfol/10.jpg" alt="Product 7">
        <img src="../static/imgfol/11.jpg" alt="Product 7">
        <img src="../static/imgfol/12.jpg" alt="Product 7">
        <img src="../static/imgfol/13.jpg" alt="Product 7">
        <img src="../static/imgfol/14.jpg" alt="Product 7">
        <img src="../static/imgfol/15.jpg" alt="Product 7">
        <img src="../static/imgfol/16.jpg" alt="Product 7">
        <img src="../static/imgfol/17.jpg" alt="Product 7">
        <img src="../static/imgfol/18.jpg" alt="Product 7">
    </div>

    <div class="overlay login-overlay">
        <div class="login-box">
            <h2>Login to Smart Deals</h2>
            <form method="POST" action="{{ url_for('login') }}">
                <label>Username:</label><br>
                <input type="text" name="username" id="username-email" required><br>
                <label>Password:</label><br>
                <input type="password" name="password" id="password" required><br>
                <input type="submit" value="Login">
            </form>
            <p class="signup-link">Don't have an account? <a href="{{ url_for('signup') }}">Signup</a></p>
        </div>
    </div>
</body>
</html>