<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Products</title>
    <link rel="stylesheet" href="../static/CSS/styles.css">
</head>
<body>
    
    <div class="product-list-container">
        {% for product in products %}
        <div class="product-card-custom">
            <img src="{{ product[4] }}" alt="{{ product[1] }}" class="product-img-custom">
            <div class="product-info-custom">
                <h3 class="product-title-custom">{{ product[1] }}</h3>
                <p class="product-description-custom">{{ product[3] }}</p>
                <p class="product-price-custom">Price: ₹{{ product[8] }}</p>
            </div>
        </div>
        {% endfor %}
    </div>

    {% for product in products %}
    <div>
        <h2>{{ product[1] }}</h2>  <!-- Assuming index 1 is product_name -->
        <p>Interested Users:</p>
        <ul>
            {% for user in interested_users[product[0]] %}
            <li>{{ user[0] }} - {{ user[1] }}</li>  <!-- Adjust based on your data structure -->
            {% endfor %}
        </ul>
    </div>
    {% endfor %}

</body>
</html>
